body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #eaeaea;
  margin: 0;
  padding: 0;
}

header {
  padding: 60px;
  text-align: center;
  background: #111;
}

h1 {
  font-size: 2.5rem;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.project {
  background: #1a1a1a;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

a {
  color: #00ffd5;
  text-decoration: none;
}

/* VIDEO */
.video-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.video-container video {
  width: 100%;
  max-width: 900px;
  border-radius: 14px;
  display: block;
}

/* SCREENSHOTS GRID */
.screenshots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.screenshots img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

